[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
plotly = "*"
scikit-learn = "*"
pandas = "==1.3.5"
networkx = "*"
numpy = "*"
joblib = "*"
regex = "*"
click = "*"
emv = "*"
pyscard = "*"
flask = "*"
flask-bootstrap = "*"
bootstrap-flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
