{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    <h1>Card Info</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ render_field(form.get_card_data) }}
    </form>
    <br>
    <div class="grid-container" style="padding: 3rem; border-radius: 5rem;">
        <div class="grid-item">
            {% if show_card %}
                <p>The reader has read the following card:</p>
                <img src="../static/card.png" alt="Your card">
            {% endif %}
        </div>
        <div class="grid-item">
        </div>
        <div class="grid-item">
        </div>
        <div class="grid-item"></div>
        </div>
    </div>
    <br>
    <div style="padding: 3rem; border-radius: 5rem; background-color: white;">
        <div id='chart' class='chart'>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                var graphs = {{ graphJSON | safe }};
                Plotly.plot('chart',graphs,{});
            </script>
        </div>
        <p>
            Offline: card issuer is not contacted when verifying transaction
        </p>
    </div>
    <br>
    <div style="padding: 3rem; border-radius: 5rem; background-color: white;">
        <div id='tablechart' class='tablechart' style="border-radius: 5rem;">
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                var graphs = {{ tableJSON | safe }};
                Plotly.plot('tablechart',graphs,{});
            </script>
        </div>
    </div>
{% endblock %}